@use "../utils" as *;

.btn {
  @include preset("5-light");
  @include preset("body-m-bold");
  height: var(--space-750);
  gap: var(--space-100);
  color: var(--white);
  background-color: var(--green-600);
  padding-inline: var(--space-400);
  text-decoration: none;
  cursor: pointer;
  border: 0;
  border-radius: var(--space-100);
  position: relative;
  text-align: center;
  grid-column: 1 / -1;

  &:hover {
    background-color: var(--green-900);
  }

  &:focus {
    outline: var(--space-25) solid var(--green-600);
    outline-offset: var(--space-25);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    user-select: none;

    &:hover {
      background-color: var(--green-600);
    }
  }
}
