@use "../utils" as *;

.label {
  @include preset("body-s-regular");
  cursor: pointer;
  align-items: center;
}
%input-template {
  @include preset("body-m-regular");
  border: var(--space-12) solid var(--grey-500);
  border-radius: var(--space-100);
  padding: var(--space-150) var(--space-300);
  width: 100%;
  color: var(--grey-900);
  line-height: 1.39;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
  row-gap: var(--space-300);
  column-gap: var(--space-200);

  @include mq(s) {
    grid-template-columns: auto;
  }
}

.form-control {
  display: grid;
  gap: var(--space-100);

  &--full-width {
    grid-column: 1 /-1;
  }

  &--double-gap {
    gap: var(--space-200);
  }

  &__label {
    @extend .label;
  }

  input:not([type="radio"]):not([type="checkbox"]),
  textarea {
    @extend %input-template;

    &:hover,
    &:focus {
      border-color: var(--green-600);
      outline: 0;
    }
  }

  textarea {
    resize: none;

    @include mq(s) {
      height: 15rem;
    }
  }

  &--error {
    & > :is(input:not([type="radio"]):not([type="checkbox"]), textarea) {
      border-color: var(--red);

      &:hover,
      &:focus {
        border-color: var(--red);
        outline: 0;
      }
    }
  }
}

.error {
  @include preset("body-s-regular");
  color: var(--red);
}

.required {
  color: var(--green-600);
  display: inline-block;
  margin-left: var(--space-50);
}

.query-type {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-200);

  @include mq(s) {
    grid-template-columns: auto;
  }

  &__button {
    @extend %input-template;
    @include preset("body-m-regular");
    display: flex;
    gap: var(--space-150);
    align-items: center;
    cursor: pointer;

    &:focus-within {
      background-color: var(--green-200);
    }
  }
}
