@use "variables" as *;

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.flex {
  display: flex;
  gap: var(--space-200);
  align-items: center;
}

.mb-200 {
  margin-block: var(--space-200);
}
